asgiref==3.7.2
celery>=5.3,<6
dj-database-url
Django==3.2.19
django-redis>=5.4,<6
gunicorn>=23.0,<24
psycopg2-binary
Pillow>=10,<13
razorpay>=1.4,<2
redis>=5,<6
sqlparse==0.4.4
typing_extensions>=4.9,<5
whitenoise[brotli]>=6.6,<7
